/**
 * NAVBAR STYLES
 */

/*increases the height of the navbar*/
.navbar {
	height: 75px;
	background-color: #f08c70;
}

.container {
	height: 75px;
}




/*floats the navbar links to the right*/
.navbar-inverse .navbar-nav {
	float: right;
	text-align: right;
	position: relative;
}



/*vertically centers the links, changes link font and color*/
.navbar .nav > li > a {
	color: #f08c70;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 0px;
}

ul.nav.navbar-nav {
	height: 75px;
	margin-top: 20px;
}

/*vertically centers the main site title*/
@media (min-width: 769px) {
	.navbar-brand {
		height: 75px;
		line-height: 45px;
	}
}

/*logo styles mobile*/
@media (max-width: 768px) {
	.navbar-brand {
		height: 75px;
		line-height: 45px;
		width:80%;
	}
}

/*Logo size*/
.logoSize{
	max-width:100%; 
	max-height:100%;
	margin-top: 5px;
}




/*color and font for main site title*/
.navbar-inverse .navbar-brand {
	color: #f08c70;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 3px;
}

.navbar-inverse .navbar-brand:hover {
	color: #f08c70;
}



/*light grey border beneath nav*/
.navbar-inverse {
	border-top: none;
	border-left: none;
	border-right: none;
/*	border-bottom: 5px solid #f5f5f5;*/
	border-bottom: none;
}


/*active link styles desktop*/
@media (min-width: 769px) {
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		/*background-color: #fff3e2;*/
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
	}
}

/*active link styles mobile*/
@media (max-width: 768px) {
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		/*background-color: #fff3e2;*/
		background-color: transparent;
		border: 1px solid #f08c70;
		color: #f08c70;
	}
}

/*desktop links*/
@media (min-width: 769px) {
	.navbar .nav > li > a {
		color: #fff;
	}

	.navbar .nav > li > a:hover {
		color: #fff;
	}
}

/*mobile links*/
@media (max-width: 768px) {
	.navbar .nav > li > a {
		color: #f08c70;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 22px;
		overflow: none;
	}

	.navbar .nav > li > a:hover {
		color: #f08c70;
	}
}








/**
 * MOBILE HAMBURGER MENU STYLES
 */

/*gets rid of default black border*/
.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

/*makes lines orange*/
.navbar-inverse .navbar-toggle .icon-bar {
	background-color:#fff;
}

/*keeps lines orange on hover*/
.navbar-inverse .navbar-toggle .icon-bar:hover {
	background-color:#fff;
}

button.navbar-toggle.collapsed {
	height: 55px;
	background-color: transparent;
	border: none;
}

/*keeps background white on hover*/
button.navbar-toggle.collapsed:hover {
	background-color: transparent;
	border: none;
	height: 55px;
}

button.navbar-toggle {
	background-color: transparent;
	border: none;
	height: 55px;
} 

button.navbar-toggle:hover {
	background-color: transparent;
	border: none;
	height: 55px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
	border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background-color: transparent;
	border: none;
	font-size:12px;
}

/*mobile nav menu*/
@media (max-width: 768px) {
	div#navbar.collapse.navbar-collapse {
		height: 175%;
		overflow: auto;
		background-color: #fff;
		border-bottom: 5px solid #f5f5f5;
	}
}








/**
 * BODY STYLES
 */

/*smaller space between the first paragraph and the nav bar*/
 .negMargin{
 	margin-top: -15px;
 }

 .moreMargin {
 	margin-top: 50px;
 }

/*header text desktop*/
@media (min-width: 769px) {
	h1 {
		color: #ef8a6e;
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 30px;
		font-weight: 300;
		letter-spacing: 2px;
		text-align: center;
		margin-top: 125px;
		line-height: 50px;
	}
}

/*header text mobile*/
@media (max-width: 768px) {
	h1 {
		color: #ef8a6e;
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 2px;
		margin-top: 60px;
		line-height: 35px;
		text-align: center;
		margin-left: 2%;
		margin-right: 2%;
	}
}

/*body text*/
@media (min-width: 769px) {
	.body {
		font-family: "Roboto Slab", "Andale Mono", serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 1px;
		text-align: center;
		color: #ababab;
	}
}


/*body text mobile*/
@media (max-width: 768px) {
	.body {
		font-family: "Roboto Slab", "Andale Mono", serif;
		font-weight: 300;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 1px;
		text-align: center;
		color: #ababab;
		padding-top: 15px;
	}
}








/*square corners*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn {
	color: #ef8a6e;
	border: 1px solid #ef8a6e;
	background-color: #fdf3f0;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 1px;
}

.btn-default:hover {
	background-color: #fdf3f0;
	color: #ef8a6e;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 1px;
}


/*link with light color background*/
a.lightBG {
	color: #ef8a6e;
	background-color: #fdf3f0;
	padding: 2px 5px 2px 5px;
}

a.lightBG:hover {
	color: #ef8a6e;
	text-decoration: none;
}	

form {
	margin-top: 30%;
}

/*desktop and tablet form styles*/
@media (min-width: 769px) {
	input {
	  	border: 1px solid #e6e6e6;
		color: #7e7e7e;
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 25px;
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 35px;
		padding: 7px 0px 7px 12px;
		width: 400px;
	}
}

/*desktop and tablet form styles*/
@media (max-width: 768px) {
	input {
	  	border: 1px solid #e6e6e6;
		color: #7e7e7e;
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 25px;
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 35px;
		padding: 7px 0px 7px 12px;
		width: 250px;
	}
}

input:focus { 
    outline: none;
    border: 1px solid #e6e6e6;
    box-shadow: none;
}